<% layout("main") %>
  <form method="POST">
    <div class="mb-3">
      <label class="d-block">
        <div class="form-label">Логин</div>
        <input type="text" name="login" class="form-control" value="<%= typeof fields != 'undefined' ? (fields.login || '') : '' %>">
      </label>
      <div class="form-text  text-danger">
        <%= typeof errors != 'undefined' ? (errors.login || "") : "" %>
      </div>
    </div>
    <div class="mb-3">
      <label class="d-block">
        <div class="form-label">Пароль</div>
        <input type="text" name="password" class="form-control" value="<%= typeof fields != 'undefined' ? (fields.password || '') : '' %>">
      </label>
      <div class="form-text  text-danger">
        <%= typeof errors != 'undefined' ? (errors.password || "") : "" %>
      </div>
    </div>
    <div class="mb-3">
      <label class="d-block">
        <div class="form-label">Повторите пароль</div>
        <input type="text" name="passwordConfirm" class="form-control" value="<%= typeof fields != 'undefined' ? (fields.passwordConfirm || '') : '' %>">
      </label>
      <div class="form-text  text-danger">
        <%= typeof errors != 'undefined' ? (errors.passwordConfirm || "") : "" %>
      </div>
    </div>
    <div class="mb-3">
      Уже есть аккаунт? <a href="#">Войти</a>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>