<% layout("main-authed") %>
  <% if (typeof todos != 'undefined') { %>
    <% todos.forEach(todo => { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= todo.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= todo.created %></h6>
        <p class="card-text"><%= todo.text %></p>
        <div class="d-flex">
          <a href="/todos/edit/<%= todo._id %>" class="btn btn-primary">Изменить</a>
          <% if(todo.done) { %>
            <a href="/todos/done/<%= todo._id %>/0" class="btn btn-success mx-2">Вернуть к разработке</a>
          <% } else { %>
            <a href="/todos/done/<%= todo._id %>/1" class="btn btn-secondary mx-2">Завершить задачу</a>
          <% } %>
          <a href="/todos/remove/<%= todo._id %>" class="btn btn-danger" style="margin-left: auto;">Удалить</a>
        </div>
      </div>
    </div>
    <% }) %>
  <% } %>

  <% if (typeof pagination !='undefined' && pagination.pages > 1 ) { %>
  <nav>
    <ul class="pagination mt-5 justify-content-center">
      <% for (let i = 1; i <= pagination.pages; i++) { %>
        <li class="page-item  <%- i == pagination.page ? 'active' : '' %>">
          <a class="page-link" href="/todos/page/<%- i %>"><%- i %></a>
        </li>
      <% } %>
    </ul>
  </nav>
  <% } %>